body{
  $zen-column-count: 4; // Set the number of columns in this breakpoint
  &.sidebar-first {
    #content {
     @include zen-grid-item(3, 2);
    }
  }
  &.sidebar-second {
    #content {
     @include zen-grid-item(3, 1);
    }
  }
  &.two-sidebars {
    #content {
     @include zen-grid-item(2, 2);
    }
  }
  #sidebar-first {
    @include zen-grid-item(1, 1);
  }
  #sidebar-second {
    @include zen-grid-item(1, 4);
  }
}
