body{
  $zen-column-count: 3; // Set the number of columns in this breakpoint
  &.sidebar-first,
  &.two-sidebars{
    #content {
     @include zen-grid-item(2, 2);  // Span 1 columns starting in 2nd column
    }
    #sidebar-first {
      @include zen-grid-item(1, 1);  // Span 1 columns starting in 1st column
    }
    #sidebar-second {
      @include zen-grid-container;
      .block {
        &:nth-child(3n+1) {
          @include zen-grid-item(1, 1); // Span 1 columns starting in 1st column
          @include zen-clear;
        }
        &:nth-child(3n+2) {
          @include zen-grid-item(1, 2);
        }
        &:nth-child(3n+3) {
          @include zen-grid-item(1, 3);
        }
      }
    }
  }
  &.sidebar-second{
    #content {
      @include zen-grid-item(2, 1);  // Span 1 columns starting in 2nd column
    }
    #sidebar-second {
      @include zen-grid-item(1, 3);  // Span 1 columns starting in 1st column
    }
  }
}
