@import "zen";

#page-wrapper {
  @include zen-grid-container;
}
/* First Breakpoint */
@media screen and (min-width: 480px) and (max-width: 959px) {
  @import "layout-medium";
}

/* Second Breakpoint */
@media screen and (min-width: 960px) {
  @import "layout-large";
}

/* IE 8,7,6 */
.lt-ie9 {
  @import "layout-large";
}
