/* line 1, ../sass/colours.scss */
#content {
  background-color: #6FA843;
}

/* line 4, ../sass/colours.scss */
#sidebar-first {
  background-color: #96C144;
}

/* line 7, ../sass/colours.scss */
#sidebar-second {
  background-color: #CDE0AA;
}
